<h1>
    Fill out the form below to create a new tab and get started transcribing!
</h1>

<form class="create-tab-form" [formGroup]="createTabForm">
    
    <label for="title">
        Song Title
    </label>
    <input type="text"
        id="title"
        formControlName="title"
        required
    >
    <br/>
    
    <label for="title">
        Artist
    </label>
    <input type="text"
        id="artist"
        formControlName="artist"
        required
    >
    <br/>

    <label for="transcriber">
        Transcriber
    </label>
    <input type="text"
        id="transcriber"
        formControlName="transcriber"
        required
    >
    <br/>

    <label for="bpm">
        BPM
    </label>
    <input type="text"
        id="bpm"
        formControlName="bpm"
        required
    >
    <br/>

    <button [disabled]="!createTabForm.valid" (click)="onSubmit()" color="primary">Create Tab</button>

</form>
